.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include if-is-large-screen {
        margin: auto;
        width: 1024px;
    }
    @include if-is-desktop-screen {
        margin: auto;
        width: 1064px;
    }

    .comments-list {
        padding: 0;
        margin: 20px 10px;
    }

    .title-add-comments,
    .title-comments {
        font-size: $font-size-large;
        color: $color-grey;
        padding: 20px 10px 0;
        @include if-is-large-screen {
            padding: 20px 30px 10px;
        }
    }

    .list-comments {
        @include if-is-large-screen {
            margin: auto;
            width: 100%;
        }
        @include if-is-large-screen {
            width: 1064px;
        }

        li {
            list-style: none;
            padding: 20px 10px;
            @include if-is-large-screen {
                padding: 10px 30px 20px;
            }
        }
    }

    #name-comment {
        padding: 20px 0;
        color: $color-elven-song;
        font-size: $font-size-base+3;
        @include if-is-large-screen {
            padding-left: 20px;
        }
    }

    #new-comment {
        width: auto;
        padding: 10px;
        display: flex;
        border-radius: 20px;
        list-style: none;
        background-color: white;
        border: 1px solid $color-grey;

        .delete-button {
            align-self: flex-start;
            margin-left: auto;
            border-radius: 20px;
            text-decoration: none;
            border: none;
            color: #3A3E3E;
            font-weight: bold;
            cursor: pointer;
            transition: 0.5s;
        }
    }

    .add-comments {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $color-elven;
        padding-bottom: 20px;
        @include if-is-large-screen {
            margin: auto;
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            @include if-is-medium-screen {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-start;
            }

            .item-1 {
                display: flex;
                flex-direction: column;
            }

            .item-2 {
                display: flex;
                flex-direction: column;
                @include if-is-medium-screen {
                    align-items: center;
                }
            }

            input {
                transition: background-color 0.25s;
                border: 1px solid $color-primary;
                margin: 5px 0 15px;
                padding: 10px;
                font-size: $font-size-base;
                border-radius: 3px;

                &:focus {
                    outline-color: $color-primary;
                    background-color: darken(white, 5%);
                }
                @include if-is-medium-screen {
                    width: 300px;
                }
                @include if-is-large-screen {
                    width: 400px;
                }
            }

            textarea {
                @extend input;
                @include if-is-medium-screen {
                    height: 75px;
                }
                @include if-is-large-screen {
                    height: 100px;
                    width: 400px;
                }
            }

            button {
                @extend input;
                background-color: $color-primary;
                font-weight: bold;
                text-transform: uppercase;
                color: $main-text-color;

                &:hover {
                    background-color: lighten($color-primary, 10%);
                }

                &:active {
                    background-color: darken($color-primary, 10%);
                }
                @include if-is-medium-screen {
                    width: 150px;
                }
            }
        }
    }
}
