.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include if-is-large-screen {
        margin: auto;
    }

    h2 {
        color: $color-grey;
        padding: 0 10px;
    }

    .list-comments {
        @include if-is-large-screen {
            margin: auto;
            width: 1064px;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            padding: 20px 10px;
        }
    }

    .add-comments {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $color-elven;
        padding-bottom: 20px;
        @include if-is-large-screen {
            margin: auto;
            width: 1064px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            @include if-is-medium-screen {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-start;
            }

            .item-1 {
                display: flex;
                flex-direction: column;
            }

            .item-2 {
                display: flex;
                flex-direction: column;
                @include if-is-medium-screen {
                    align-items: center;
                }
            }

            input {
                transition: background-color 0.25s;
                border: 1px solid $color-primary;
                margin: 5px 0 15px;
                padding: 10px;
                font-size: $font-size-base;
                border-radius: 3px;

                &:focus {
                    outline-color: $color-primary;
                    background-color: darken(white, 5%);
                }
                @include if-is-medium-screen {
                    width: 300px;
                }
            }

            textarea {
                @extend input;
                @include if-is-medium-screen {
                    height: 75px;
                }
            }

            button {
                @extend input;
                background-color: $color-primary;
                font-weight: bold;
                text-transform: uppercase;
                color: $main-text-color;

                &:hover {
                    background-color: lighten($color-primary, 10%);
                }

                &:active {
                    background-color: darken($color-primary, 10%);
                }
                @include if-is-medium-screen {
                    width: 150px;
                }
            }
        }
    }
}
