// variables
$header-background-color: $color-primary;
$header-text-color: $color-white;
$header-title-font: $titles-font-family;

//style Mobile
.header{
  background: $header-background-color;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  .title {
      align-self: center;
      color: $header-text-color;
      margin: 0px;
      font-family: $title-web-pag;
      order:2;
    }
  .button-header{
    border-radius:6px;
    padding-top: 2px;
    border:1px solid $header-text-color;
    padding-bottom: 1px;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    background-color: $color-primary;
  }
  #button-menu{
      align-self: center;
      order: 1;
    }
  #button-search{
      align-self: center;
      order: 3;
    }
}
