body {
    background: $body-background-color;
    color: $main-text-color;
    font-family: $main-font-family;
    font-size: $font-size-base;
    margin: 0px;
    //font-size: $font-size-base;
    /*margin-left: 140px;
    margin-right: 140px;
    margin-top: 0px;*/
    padding: 0px;
}
