//variables


//style
  .img-article{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 80px;
  }
  .title-article{
    font-family: $titles-font-family;
    font-size: $font-size-h2;
    padding: 0px 20px 0px 20px;
    margin:0;
  }
  .prueba{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 20px 10px 20px;
    .photo-author-article{
      align-self: center;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
    .name-author-article{
      color: $color-grey;
      align-self: center;
      padding-left: 10px;
      font-size: $font-size-small;
    }
    .date-article{
      align-self: center;
      font-size: $font-size-small;
    }
    .icons{
      margin-left: auto;
      align-self: center;
    }
    .text{
      color: $color-grey;
      margin-bottom: 30px;
      text-align: center;
    }
    .button-icons-social{
    	background-color: $color-white;
    	border-radius:6px;
      padding-top: 5px;
    	border:1px solid $color-grey;
    	display:inline-block;
    	cursor:pointer;
    	text-decoration:none;
    }
  }
  .container-buttons-pag{
    display: flex;
    padding:0 20px 30px 20px;
    .button-previous-pag{
      order:0;
    }
    .button-next-pag{
      order:1;
      margin-left: auto;
    }
  }
  .button-pag{
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
  	background-color: $color-white;
  	border-radius:100%;
  	border:1px solid $color-primary;
  	display:inline-block;
  	cursor:pointer;
  	text-decoration:none;
  }

  video{
    max-width: 100%;
    height: 250px;
  }
