// font families
$main-font-family: 'Open Sans', sans-serif;
$titles-font-family: 'Roboto', sans-serif;
$title-web-pag: 'Fredoka One', cursive;


// font sizes
$font-size-base: 16px;
$font-size-small: $font-size-base - 3px;
$font-size-large: $font-size-base + 6px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// colors
$color-elven-iris: #0EEBAC;
$color-elven-song: #1abc9c;
$color-elvens-luck: #6AFFB9;
$color-elven: #CEFFEB;
$color-grey: #808080;
$color-grey-dark: #3A3E3E;
$color-white: #ffffff;

// components colors
$color-primary: $color-elven-iris;
$color-secondary: $color-white;

$main-text-color: $color-grey-dark;
$body-background-color: $color-white;

// responsive breakpoints
$large-screen-width: 1024px; // iPad en landscape o superior
$medium-screen-width: 768px; // iPad portrait
$small-screen-width: $medium-screen-width - 1; // smartphones
